@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?ila2cz');
    src:  url('fonts/icomoon.eot?ila2cz#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ila2cz') format('truetype'),
        url('fonts/icomoon.woff?ila2cz') format('woff'),
        url('fonts/icomoon.svg?ila2cz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-raindrop:before {
    content: "\e901";
}
.icon-leaf:before {
    content: "\e902";
}
.icon-snowflake-o:before {
    content: "\e903";
}
.icon-leaf-one:before {
    content: "\e900";
}
.icon-leaf-two:before {
    content: "\e9a4";
}

.icon-leaf, .icon-leaf-one, .icon-leaf-two{
    position: absolute;
    top: 0px;
    left: 600px;
    color:#2d572c;
    animation-name: leaf, rotate-ani;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
}
@-webkit-keyframes leaf{
    from {top: -10px;}
    to {top: 100%;}
 }
@keyframes rotate-ani {
    0% { 
        transform: rotate(-180deg) translate(0px, 0px); 
    }
    90% { 
        transform: rotate(180deg) translate(0px, 35px);
        opacity: 1;
    }
    100%{
        transform: rotate(180deg) translate(10px, 55px);
        opacity: 0;
    }
}